.skill {
  display: flex;
  align-items: center;
}

.skill p {
  width: 200px;
  text-align: right;
}

.balken {
  flex: 1;
  height: 20px;
  background-color: #a8b5a8;
  border-radius: 10px;
}

.fortschritt {
  height: 100%;
  background-color: #1a2a2a;
  border-radius: 10px;
}